<%- include('../partials/admin-header-main') %>
<%- include('../partials/admin-header-secondary') %>

<main>
    <div class="container">
        <h1 class="title text-center font-700 text-primary mt-1 mb-1">User Profile</h1>

        <div class="flex-center flex-column">
            <% if(typeof msg != 'undefined'){ %>
                <p class="mb-1 mt-2 text-center msg <%- msg.class %>" id="msg"><%- msg.text %></p>
            <% } %>

            <div class="search-box mt-1 mb-2" style="width: 600px;">
                <form action="/admin/user-profile" method="post" class="flex align-center space-between">
                    <div>
                        <label for="search">Search User</label>
                    </div>
                    <div>
                        <input type="text" name="search" value="<%- search %>" id="search" class="input-border font-xs ml-1 w-s" placeholder="ID, Email, Mobile">
                    </div>
                    <div>
                        <button type="submit" class="btn-border font-600 font-xs ml-1">Search</button>
                    </div>
                </form>
            </div>
            <% if(typeof user != 'undefined') { %>
            <div class="profile-card p-s-all mb-1">
                <div class="flex align-center space-between mb-1 mt-s p-s-all">
                    <a href="/admin/distribute-token?userId=<%- user.ID %>" class="btn-success font-500 font-xxs"><i class="fa-solid fa-plus"></i> Add Token</a>
                    <a href="/admin/revoke-token?userId=<%- user.ID %>" class="btn-danger font-500 font-xxs"><i class="fa-solid fa-backward"></i> Revoke Token</a>
                    <a href="/admin/update-user?userId=<%- user.ID %>" class="btn-warning font-500 font-xxs"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                    <button onclick="deleteUser(value)" value="<%- user.ID %>" class="btn-danger font-500 font-xxs"><i class="fa-solid fa-multiply"></i> Delete</button>
                </div>
                <h2 class="text-secondary mb-s mt-1 font-600 font-s ml-s">Login Info.</h2>
                <div class="font-500 font-xs ml-1 mb-s">
                    <table>
                        <tr>
                            <td class="p-xs-bt" style="width: calc(100% / 2.8);">Profile ID</td>
                            <td class="text-primary"><%- user.ID %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt">Name</td>
                            <td class="text-primary"><%- user.name %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt">Email</td>
                            <td class="text-primary"><%- user.email %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt">Mobile</td>
                            <td class="text-primary"><%- user.mobile %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt">Token</td>
                            <td class="text-primary"><%- token %></td>
                        </tr>
                        <tr>
                            <form action="/admin/user/change-password" method="post">
                                <td class="p-xs-bt"><label for="password">Change Password</label></td>
                                <td>
                                    <input type="hidden" name="pid" value="<%- user.ID %>">
                                    <input type="password" name="password" placeholder="New Password">
                                    <button type="submit" class="btn-success font-500 font-xs">Change</button>
                                    <p class="mt-s font-xxs text-danger">Last Changed : <%- log.lastChange %></p>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>

                <div class="divider mb-1 mt-2"></div>

                <h2 class="text-secondary mb-s font-600 font-s ml-s">CSP Info.</h2>
                <div class="font-500 font-xs ml-1 mb-s">
                    <table>
                        <tr>
                            <td class="p-xs-bt" style="width: calc(100% / 2);">CSP Name</td>
                            <td class="text-primary"><%- user.cspName %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>CSP Code</td>
                            <td class="text-primary"><%- user.cspCode %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>CSP Location</td>
                            <td class="text-primary"><%- user.cspLocation %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>Adhaar Number</td>
                            <td class="text-primary"><%- user.adhaar %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>PAN Number</td>
                            <td class="text-primary"><%- user.pan %></td>
                        </tr>
                        
                    </table>
                </div>

                <div class="divider mb-1 mt-2"></div>
                
                <h2 class="text-secondary mb-s font-600 font-s ml-s">Branch Info.</h2>
                <div class="font-500 font-xs ml-1 mb-s">
                    <table>
                        <tr>
                            <td class="p-xs-bt" style="width: calc(100% / 2);">Branch Name</td>
                            <td class="text-primary"><%- user.branchName %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>Branch Code</td>
                            <td class="text-primary"><%- user.branchCode %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>IFSC Code</td>
                            <td class="text-primary"><%- user.ifsc %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>MICR Code</td>
                            <td class="text-primary"><%- user.micr %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>City / Distt.</td>
                            <td class="text-primary"><%- user.city %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>Branch Phone</td>
                            <td class="text-primary"><%- user.branchPhone %></td>
                        </tr>
                        <tr>
                            <td class="p-xs-bt" ></i>Branch Email</td>
                            <td class="text-primary"><%- user.branchEmail %></td>
                        </tr>
                    </table>
                </div>

                <div class="divider mb-1 mt-2"></div>
                
                <div class="font-500 font-xxs ml-1 mb-2">
                    <p class="mt-s">Last Login At : <%- log.lastLogin %></p>
                    <p class="mt-s">Updated At : <%- log.updatedAt %></p>
                    <p class="mt-s">Created At : <%- log.createdAt %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</main>

<script src="../../static/js/all-users-script.js"></script>
